<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>База предписаний></title>
</head>

<body>

<div th:replace="layouts/header :: header"></div>
<div class="row mt-5 ms-2">
<table class="table  table-bordered table-hover table-responsive">
        <thead>
        <tr class="align-top">
            <th scope="col">Номер</th>
            <th scope="col">Заказчик</th>
            <th scope="col">Наименование объёкта/Подобъекта</th>
            <th scope="col">Шифр объекта</th>
            <th scope="col">Исполнитель ИИ</th>
            <th scope="col">Вид работ</th>
            <th scope="col">Описание нарушений</th>
            <th scope="col">Классификация нарушений</th>
            <th scope="col">Согласно НД</th>

            <th scope="col">вид предписания
                (устраняемое, остановочное)
            </th>
            <th scope="col">Дата выдачи</th>
            <th scope="col">План</th>
            <th scope="col">Факт</th>
            <th scope="col">Просрочено</th>
            <th scope="col">В срок/позже</th>
            <th scope="col">Отметка об устанении</th>
            <th scope="col">Исполнитель ТК за ИИ</th>
            <th scope="col">Иполнитель ИИ</th>
            <th scope="col">Заказчик</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <div th:each="el : ${admonitions}">
            <tr>
                <td th:text="${el.numberDescription}"></td>
            <td th:text="${el.customer}"></td>
            <td th:text="${el.nameObject}"></td>
            <td th:text="${el.codeObject}"></td>
            <td th:text="${el.perfomer}"></td>
            <td th:text="${el.typeWork}"></td>
            <td th:text="${el.description}"></td>
            <td th:text="${el.classificationDescription}"></td>
            <td th:text="${el.regulatoryDocuments}"></td>

            <td th:text="${el.typeDescription}"></td>
            <td th:text="${el.dateIssue}"></td>
            <td th:text="${el.correctionDatePlan}"></td>
            <td th:text="${el.correctionDateFact}"></td>
            <td th:text="${el.remedyMark}"></td>
            <td th:text="${el.lateNot}"></td>
            <td th:text="${el.remedyMarkFinal}"></td>
            <td th:text="${el.employee}"></td>
            <td th:text="${el.executor}"></td>
            <td th:text="${el.customerRepresentative}"></td>
            <td><a class="btn btn-primary" th:href="'update/' + ${el.id}" role="button">Изменить</a></td>
            </tr>
        </div>
        </tbody>
</table>
</div>
<!-- Content here -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>